<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :serviceName %>
    <%= form.text_field :serviceName %>
  </div>

  <div class="field">
    <%= form.label :servicePrice %>
    <%= form.text_field :servicePrice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
