<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Service_name, class: "label" %>
    <%= form.text_field :serviceName, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :Price_for_service, class: "label" %>
    <%= form.text_field :servicePrice, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit "Create a New Service", class:"cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white mr-3 px-5 py-2 mb-4 inline-block rounded" %>
  </div>
<% end %>
