<!-- alert
<p id="notice"><%= notice %></p>
-->

<!-- the white portion -->
<div class="container w-full mx-auto flex items-center justify-center px-2 my-12">
  <div class="bg-white px-6 py-8 border rounded-lg shadow-md text-black w-full">
    <h1 class="pb-6 text-3xl text-center font-semibold text-pink-700">Current Services</h1>
    <p class="mb-8 text-2xl text-center">Services</p>

    <!-- table -->
    <table class="w-full">
      <thead>
      <tr class="bg-gray-300 border border-gray-400">
        <th class="py-4">Service Name</th>
        <th class="py-4">Price</th>
        <th class="py-4" colspan="3">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @services.each do |service| %>
        <tr class="text-center border-b border-t hover:bg-pink-200">
          <td class="px-6 py-2"><%= service.serviceName %></td>
          <td class="px-6 py-2">$<%= service.servicePrice %></td>
          <td class="flex flex-col lg:flex-row justify-center">
            <%= link_to 'Show', service , class:"cursor-pointer font-semibold bg-gray-500 hover:bg-green-600 text-white px-4 py-2 m-2 rounded"%>
            <%= link_to 'Edit', edit_service_path(service) , class:"cursor-pointer font-semibold bg-gray-500 hover:bg-blue-600 text-white px-4 py-2 m-2 rounded"%>
            <%= link_to 'Remove', service, method: :delete, data: { confirm: 'Are you sure?' } , class:"cursor-pointer font-semibold bg-red-600 hover:bg-red-800 text-white px-4 py-2 m-2 rounded"%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="mt-10">
      <%= link_to 'Add a New Service', new_service_path, class:"cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white px-5 py-2 inline-block rounded" %>
    </div>

  </div>
</div>


