<%= form_with(model: special_requirement, local: true) do |form| %>
  <% if special_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(special_requirement.errors.count, "error") %> prohibited this special_requirement from being saved:</h2>

      <ul>
        <% special_requirement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Description_for_requirement, class: "label" %>
    <%= form.text_field :requirementDesc, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :Number_value_for_requirement, class: "label" %>
    <%= form.number_field :requirementValue, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit "Create New Special Requirement", class:"cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white mr-3 px-5 py-2 mb-4 inline-block rounded" %>
  </div>
<% end %>
