<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<style>
  body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 15px;
    background: #f6f6f6;
    padding: 20px;
  }
</style>
<body>

<table style="background-color: white; width: 600px; margin-left: auto; margin-right: auto; padding: 40px; border: 1px solid #DDDDDD;">
  <tbody>
  <tr>
    <td>
      <table>
        <tr>
          <td style="text-align: center">
            <%= image_tag 'schedule.svg', width: 200 %>
            <p style="font-size: 18px; line-height: 24px;">You have successfully scheduled your appointment.</p>
            <br>
            <p style="font-size: 18px; line-height: 24px;">Below are the appointment details.</p>
            <p style="font-size: 18px; line-height: 24px;"><strong>PLEASE CONTACT ANNA FOR CANCElLATIONS</strong>.</p>
          </td>
        </tr>
      </table>
      <h3>Details</h3>

      <table style="display:table; border-collapse: collapse; width: 100%; margin-bottom: 40px;">
        <thead>
        <tr>
          <th style="text-align: left; font-size: 14px;">Service:</th>
          <th style="text-align: left; font-size: 14px;">Intensity:</th>
          <th style="text-align: left; font-size: 14px;">Starts:</th>
          <th style="text-align: left; font-size: 14px;">Duration (Minutes):</th>
          <th style="text-align: left; font-size: 14px;">Location:</th>
          <th style="text-align: left; font-size: 14px;">Suite Number:</th>
          <th style="text-align: left; font-size: 14px;">Comment:</th>
          <th style="text-align: left; font-size: 14px;">Service Charge:</th>
          <th style="text-align: left; font-size: 14px;">Time Duration Charge:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><p><%= @app_schedule.service.serviceName %></p></td>
          <td><p><%= @app_schedule.special_requirement.requirementDesc %></p></td>
          <td><p><%= readable_time(@app_schedule.app_time.appDate)%></p></td>
          <td><p><%= @app_schedule.app_duration.duration%></p></td>
          <td><p><%= @app_schedule.homeAddress%> <%= @app_schedule.city%> <%= @app_schedule.state%> <%= @app_schedule.zipcode%></p></td>
          <td><p><%= @app_schedule.suiteNumber%></p></td>
          <td><p><%= @app_schedule.comment %></p></td>
          <td><p><%= @app_schedule.service.servicePrice %></p></td>
          <td><p><%= @app_schedule.app_duration.durationPrice %></p></td>
        </tr>
        </tbody>
      </table>

      <p></p>
      <p>To login to the site, just follow this link: <%= link_to "Login", new_user_session_url %>.</p>
      <p>Thank you and have a great day!</p>
    </td>
  </tr>
  </tbody>
</table>

<!--paypal button: referenced https://www.paypal.com/cgi-bin/webscr?cmd=_button-designer&button_type=buynow&flowloggingId=62254993d9456---------------------------------------------------------------------------->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHdwYJKoZIhvcNAQcEoIIHaDCCB2QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAom7VXzkAUdwy26/x0e0OJorR1f4UnKspNWTUQ+aIu9OLU0d4kuqJ9+O0pLZoVD6IKCi2v+T5DKgigXx3ZSEt881+GGd1Q2MuAQ5ht94pgjLWfD77SmF7T2qE2sSm4ZxGfr4o2hxI3ta0IXp4EEsUc+eTCuWLyTsQJE2N7XngsajELMAkGBSsOAwIaBQAwgfQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIwd1c47mfaASAgdBVxigfuYmrVOdKRku6/Nw03McHPfJYiWJDN3KbC35MZBY789/wbJpokYKWunysmdN1QUNU1tOv9AwDqW0UVQjOoTuFZuFGoNmp7KRhBhLS/Zl2V7rhp11cgaubT88ENj8tDrsUoAGbofcFmky19dAr4m9a9Poh6ImqNSHvF1zwnrlBsBFW8PRqZmbiyJZrcy2a5jONPUDNlOjlFky3Ukznac4zsePMW1gdzPbKrRh5gP2eJyxWEblOc94XcnxFXhRWCWnt5DQZitcDAMjySd0PoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTkxMTA2MDIwMzU1WjAjBgkqhkiG9w0BCQQxFgQUCUS+cU0fxwwvd9y9tezdtnovA6QwDQYJKoZIhvcNAQEBBQAEgYA/7Sp2wPc8Pbzs79KJ6teNJfK++tCtqmnmQP0Q/kCMvt/1Wr5MyncXFiY4/cU5roHIToy4Yr4TLsecVYknIxj+tIOC3wcHaMjRkitOkmY8GKgcLbkZEa9Ac78H+ktiOQUI36+GCE5CLq6cYvw02CTN7hH6NahzVXQ+xmdk3WzNZg==-----END PKCS7-----">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br>
<!--end of paypal button script------------------------------------------------------------------------>
</div>


</body>
</html>
