<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<style>
  body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 15px;
    background: #f6f6f6;
    padding: 20px;
  }
</style>
<body>

<table style="background-color: white; width: 600px; margin-left: auto; margin-right: auto; padding: 40px; border: 1px solid #DDDDDD;">
  <tbody>
  <tr>
    <td>
      <table>
        <tr>
          <td style="text-align: center">

            <center><p style="font-size: 18px; line-height: 24px;">You have successfully scheduled your appointment at HandsOfLyfe.</p>
            <br>
            <p style="font-size: 18px; line-height: 24px;">Below are the details of your appointment.</p>
              <p style="font-size: 18px; line-height: 24px;"><strong>For cancellations or further questions, please <a href="tel:832-890-9086">call</a> or <a href="mailto:handsoflyfe@gmail.com">e-mail</a> Anna Alegria.</strong></p></center>
          </td>
        </tr>
      </table>
      <h3>Details</h3>

      <table style="display:table; border-collapse: collapse; width: 100%; margin-bottom: 40px;">
        <thead>
        <tr>
          <th style="text-align: left; font-size: 14px;">Service:</th>
          <th style="text-align: left; font-size: 14px;">Intensity:</th>
          <th style="text-align: left; font-size: 14px;">Starts:</th>
          <th style="text-align: left; font-size: 14px;">Duration (Minutes):</th>
          <th style="text-align: left; font-size: 14px;">Location:</th>
          <th style="text-align: left; font-size: 14px;">Suite Number:</th>
          <th style="text-align: left; font-size: 14px;">Comment:</th>
          <th style="text-align: left; font-size: 14px;">Service Charge:</th>
          <th style="text-align: left; font-size: 14px;">Time Duration Charge:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><p><%= @app_schedule.service.serviceName %></p></td>
          <td><p><%= @app_schedule.special_requirement.requirementDesc %></p></td>
          <td><p><%= readable_time(@app_schedule.app_time.appDate)%></p></td>
          <td><p><%= @app_schedule.app_duration.duration%></p></td>
          <td><p><%= @app_schedule.homeAddress%> <%= @app_schedule.city%> <%= @app_schedule.state%> <%= @app_schedule.zipcode%></p></td>
          <td><p><%= @app_schedule.suiteNumber%></p></td>
          <td><p><%= @app_schedule.comment %></p></td>
          <td><p><%= @app_schedule.service.servicePrice %></p></td>
          <td><p><%= @app_schedule.app_duration.durationPrice %></p></td>
        </tr>
        </tbody>
      </table>
      <br>
      <p>As security for the correct fulfilment of this Agreement the HandsOfLyfe client shall pay an initial deposit of $20 for appointment travel fees within 24 hours of booking. Failure to do so, may result in the cancellation of the appointment. Please proceed with payment with the following link below:
        <!--paypal link specifically for emails-->
        <!--paypal button referenced here: https://www.paypal.com/buttons/-->
        <br>
        <br><div class="text-center">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=handsoflyfe%40gmail%2ecom&lc=US&item_name=Deposit%20%28Credited%20Towards%20Appointment%29&amount=20%2e00&currency_code=USD&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_paynowCC_LG%2egif%3aNonHosted"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /></a> </p>
    </div>
      <br>
      <br>
      <!--end of paypal button script------------------------------------------------------------------------>
      </div>

      <p>To login to the site, just follow this link: <%= link_to "Login to HandsOfLyfe", new_user_session_url %>.</p>
      <p>Thank you and have a blessed day! See you soon!</p>
      <br>
      <br>
      <br>
      <p> <b>Cancellation Policy</b>
        <br>24-hour advance notice is required when cancelling or rescheduling an appointment. This allows for the opportunity for someone else to schedule an appointment. If you are unable to give 24 hours advance notice, the $20 deposit fee towards travel will not be refunded.</p>
    </td>
  </tr>
  </tbody>
</table>




</body>
</html>
