<%= form_with(model: client_address, local: true) do |form| %>
  <% if client_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_address.errors.count, "error") %> prohibited this client_address from being saved:</h2>

      <ul>
        <% client_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :appaddress_id %>
    <%= form.text_field :appaddress_id %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
