<p id="notice"><%= notice %></p>

<h1>Client Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Appaddress</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_addresses.each do |client_address| %>
      <tr>
        <td><%= client_address.client_id %></td>
        <td><%= client_address.appaddress_id %></td>
        <td><%= client_address.comments %></td>
        <td><%= link_to 'Show', client_address %></td>
        <td><%= link_to 'Edit', edit_client_address_path(client_address) %></td>
        <td><%= link_to 'Destroy', client_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Address', new_client_address_path %>
