<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client_address.client_id %>
</p>

<p>
  <strong>Appaddress:</strong>
  <%= @client_address.appaddress_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @client_address.comments %>
</p>

<%= link_to 'Edit', edit_client_address_path(@client_address) %> |
<%= link_to 'Back', client_addresses_path %>
