<%= form_with(model: app_duration, local: true) do |form| %>
  <% if app_duration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_duration.errors.count, "error") %> prohibited this app_duration from being saved:</h2>

      <ul>
        <% app_duration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field px-16 items-center justify-between max-w-md m-auto">
    <%= form.label :duration_in_minutes, class: "label" %>
    <%= form.number_field :duration, class: "input" %>
  </div>

  <div class="field pt-8 px-16 items-center justify-between max-w-md m-auto">
    <%= form.label :Price_For_Duration, class: "label" %>
    <%= form.text_field :durationPrice, class: "input" %>
  </div>

  <div class="actions text-center p-10">
    <%= form.submit "Create a New Appointment Duration", class:"cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white mr-3 px-5 py-2 mb-4 inline-block rounded" %>
  </div>
<% end %>
