
<nav class="mb-4">
  <ul id="nav-tab" class="tabs list-reset flex">

<% if current_user.admin? %>
    <li class="active" data-tab="calendar">
      <%= link_to "#calendar", class: "cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white mr-3 px-5 py-2 inline-block rounded" do %>
      Calendar
      <% end %>
    </li>
      <li><a href="/app_schedules.csv"><button class="btn btn-success cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white mr-3 px-5 py-2 inline-block rounded">Export Appointments</button></a></li>

  <% end %>

    <li data-tab="all-apppointments">
      <%= link_to "#all-appointments", class: "cursor-pointer font-semibold bg-pink-700 hover:bg-pink-900 text-white mr-3 px-5 py-2 inline-block rounded" do %>
      All Appointments
      <% end %>
    </li>
  </ul>
</nav>

<div class="bg-white p-10 border rounded">
  <div id="all-meetings" class="tab-panel">

    <h1>Scheduled Appointments</h1>
    <% app_schedules.each do |app_schedule| %>
      <div class="flex flex-wrap items-center justify-start p-4 border-b border-grey-light mb-6">
        <div class="flex-1 flex justify-between">
          <div>
            <%= link_to app_schedule.user.name, app_schedule, class: "link mr-4" %>
          </div>
          <div>
            <%= readable_time(app_schedule.app_time.appDate) %>
          </div>
        </div>
        <%= link_to "Cancel Appointment", app_schedule, method: :delete, data: { confirm: "Are you sure?." }, class: "btn btn-destroy ml-4"  if admin? %>
      </div>
    <% end %>
  </div>

  <div id="calendar" class="tab-panel active">
    <h2>Appointment Calendar</h2>
    <div id="meeting-calendar">
      <%= render "calendar", app_schedules: app_schedules%>
    </div>
  </div>
</div>


