<%= form_with(model: app_schedule, local: true, class: "meeting-form") do |form| %>
  <% if app_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_schedule.errors.count, "error") %> prohibited this app_schedule from being saved:</h2>

      <ul>
        <% app_schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input
    type="text"
    class="block border border-grey-light w-full p-3 rounded mb-4"
    name="fullname"
    placeholder="Full Name" />

  <div class="field">
    <%= form.label :Address, type="text", class: "label" %>
    <%= form.text_field :homeAddress, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :home_type, class: "label" %>
    <%= form.text_field :homeType, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :suite_number, class: "label" %>
    <%= form.text_field :suiteNumber, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :city, class: "label" %>
    <%= form.text_field :city, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :state, class: "label" %>
    <%= form.text_field :state, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :zipcode, class: "label" %>
    <%= form.text_field :zipcode, class: "input" %>
  </div>

    <div class="field">
    <%= form.label :comment, class: "label" %>
    <%= form.text_field :comment, class: "input" %>
  </div>

  <div class="mb-4">
    <%= form.label :service, class: "label" %>
    <%= collection_select(:app_schedule, :service_id, Service.all, :id, :serviceName, {}) %>
  </div>

  <div class="mb-4">
    <%= form.label :duration_in_minutes, class: "label" %>
    <%= collection_select(:app_schedule, :appduration_id, AppDuration.all, :id, :duration, {}) %>
  </div>

  <div class="mb-4">
    <%= form.label :massage_intensity, class: "label" %>
    <%= collection_select(:app_schedule, :specialrequirement_id, SpecialRequirement.all, :id, :requirementDesc, {}) %>
  </div>

  <div class="mb-4">
    <%= form.label :select_appointment_time, class: "label" %>
    <%= collection_select(:app_schedule, :app_time_id, AppTime.where(booked: false), :id, :short_time, {}) %>
  </div>


  <div class="actions">
    <%= form.submit "Schedule Your Appointment" %>
  </div>
<% end %>
