<div class="max-w-lg my-10 m-auto">
  <div class="p-10 bg-white border border-grey-light rounded">

    <div class="flex flex-wrap justify-between items-center mb-5">
      <h1><%= @app_schedule.user.name %></h1>
      <%= link_to 'Edit', edit_app_schedule_path(@app_schedule), class: "btn btn-destroy"  if admin? %>
      <%= link_to "Cancel Appointment", app_schedule_path(@app_schedule), method: :delete, data: { confirm: "Are you sure you want to cancel? "}, class: "btn btn-destroy bg-pink-700 hover:bg-pink-900 text-white font-bold"%>

    </div>



    <div class="border p-6 bg-grey-lighter mb-5 flex items-center justify-between">
      <p class="py-3 px-4 text-sm text-pink">
        Appointment Time Slot: <span class="font-bold"><%= readable_time(@app_schedule.app_time.appDate) %></span>
        <br>
        Appointment Address: <span class="font-bold"><%= @app_schedule.homeAddress %></span>
        <span class="font-bold"><%= @app_schedule.city %> </span>
        <span class="font-bold"><%= @app_schedule.state %> </span>
        <span class="font-bold"><%= @app_schedule.zipcode %></span>
        <br>
        Additional Comments: <span class="font-bold"><%= @app_schedule.comment %></span>
        <br>
        Service: <span class="font-bold"><%= @app_schedule.service.serviceName %></span>
        <br>
        Service Price: <span class="font-bold"><%= @app_schedule.service.servicePrice %></span>
        <br>
        Duration(Minutes): <span class="font-bold"><%= @app_schedule.app_duration.duration %></span>
        <br>
        Duration Price: <span class="font-bold"><%= @app_schedule.app_duration.durationPrice %></span>
        <br>
        Pressure Intensity: <span class="font-bold"><%= @app_schedule.special_requirement.requirementDesc %></span>
        <br>



      </p>
      </p>
    </div>
  </div>
</div>