<div class="max-w-lg my-10 m-auto">
  <div class="p-10 bg-white border border-grey-light rounded">

    <div class="flex flex-wrap justify-between items-center mb-5">
      <h1><%= @app_schedule.user.name %></h1>
      <%= link_to "Cancel Appointment", app_schedule_path(@app_schedule), method: :delete, data: { confirm: "Are you sure you want to cancel? "}, class: "btn btn-destroy" if admin? %>
    </div>

    <div class="border p-6 bg-grey-lighter mb-5 flex items-center justify-between">
      <p class="border-2 py-3 px-4 border-indigo rounded-full text-sm text-indigo">
        Appointment time: <span class="font-bold"><%= readable_time(@app_schedule.appDate) %></span>
        <br>
        Address: <span class="font-bold"><%= @app_schedule.homeAddress %></span>
        <span class="font-bold"><%= @app_schedule.city %> </span>
        <span class="font-bold"><%= @app_schedule.state %> </span>
        <span class="font-bold"><%= @app_schedule.zipcode %></span>



      </p>
      </p>
    </div>
  </div>