<%= form_with(model: app_time, local: true) do |form| %>
  <% if app_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_time.errors.count, "error") %> prohibited this app_time from being saved:</h2>

      <ul>
        <% app_time.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appDate %>
    <%= form.datetime_select :appDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
