<%= form_with(model: app_time, local: true) do |form| %>
  <% if app_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_time.errors.count, "error") %> prohibited this app_time from being saved:</h2>

      <ul>
        <% app_time.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="mb-6">
    <%= form.label :set_an_appointment_time, class: "label" %>
    <div class="flex items-center justify-between max-w-md">
      <%= form.datetime_select :appDate, { start_day: Date.today, ampm: true, minute_step: 15, start_hour: 8, end_hour: 20, start_month: Date.today.month, discard_year: true }, { class: "select py-2 px-2 mr-2" } %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
